@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-app text-text-main font-sans antialiased overflow-hidden;
    margin: 0;
    padding: 0;
  }
}

/* Custom Scrollbar for dark theme */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-border rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-text-secondary;
}
